{% extends 'layout.html'%}
{% block content%}
<div class="container mt-4">
    <h1 class="text-center mb-4">Favorite</h1>
    {% for fav in favorites%}
    <div class="container mt-3">
        <div class="card-body">
            <h3 class="card-title">{{ fav.name }}</h3>
            <h5 class="text-primary">Price: {{ fav.price }}</h5>
            <p class="card-text">{{ fav.desc }}</p>
            <a href="{{ url_for('users.favorite', product_id=fav.id, next='my_favorite') }}"> ❤️ </a>

            </a>
        </div>

    </div>
    {% endfor %}

</div>
{% endblock content%}