{% extends 'layout.html'%}
{% block content%}
    <div class="card-body">
        <h5 class="card-title">First Name : {{ user.fName }}</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title">Last Name : {{ user.lName }}</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title">User Name : {{ user.username }}</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title">Email     : {{ user.email }}</h5>
    </div>
    <a href="{{ url_for('users.edit_profile') }}"
                class = 'btn btn-danger btn-sm' > Edit profile</a>

{% endblock content%}